{TeamName}团队：
    欢迎入驻演武创客空间！
    贵团队将于正式入驻，请尽快到科研一号楼110办公室办理相关手续。具体内容如下：

        团队负责人签订安全承诺书，领取入驻通知书。
       团队负责人收集队员校园一卡通，用于开通大楼门禁和相关工作室门禁。
        团队所有队员在演武创客空间考勤机上录入指纹，用于考勤打卡。（在该考勤机已录入过的队员，无需再次录入）。

    如因特殊原因，无法在该时段办理，请至少提前一个工作日联系罗老师（Tel：2580399）说明情况。逾期未办理入驻手续的团队，视为放弃，不予办理本期入驻。
    演武创客空间将对贵团队实施考勤管理。（详见附件演武创客空间管理制度）
       {DateTime}
