<html>
<h3>$!{teamName}团队：</h3>
<p>
    很遗憾您的团队未能获得创客空间的入驻资格。
</p>
<p>
    希望您继续努力，完善您的项目。
</p>
<p>
    之后可以在我们的官网通过使用你的验证码查看老师的反馈意见，对项目资料进行修改和完善，并再次提交。
</p>
<div style="margin-left:700px;margin-top:100px">
    <p>演武创客空间</p>
    <p>ps:请尽量避免使用IE浏览器访问</p>
    <p>${date}</p>
</div>
</html>